body {
    color: red;
    font-size: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    background-color: #A9A9A9;
}

#cabecera {
    background: #3339A2;
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

#cabecera #logo {
    width: 50px;
    margin-left: 10px;
}

#cabecera h1 {
    margin-left: 10px;
}

#cabecera h3 {
    display: flex;
    margin-left: 10px;
}

#container {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 400px;
    padding: 5px;
    border: 1px solid red;
    border-radius: 5px;
    padding: 100px;
    text-align: center;
    background: white;
}

#post {
    background: white;
    padding: 1em;
}


#post p {
    text-align: left;
    color: black;
    font-size: 20px;
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3339A2;
    color: white;
    font-weight: bold;
}

footer h1 {
}